---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";

const posts = await getCollection("blog", ({ data }) => !data.draft);
const sortedPosts = getSortedPosts(posts);
const totalPages = Math.ceil(sortedPosts.length / SITE.postPerPage);
const currentPosts = sortedPosts.slice(0, SITE.postPerPage);

const page = {
  data: currentPosts,
  start: 0,
  end: currentPosts.length - 1,
  total: sortedPosts.length,
  size: SITE.postPerPage,
  currentPage: 1,
  lastPage: totalPages,
  url: {
    current: "/",
    prev: undefined,
    next: totalPages > 1 ? "/posts/2/" : undefined,
    first: undefined,
    last: totalPages > 1 ? `/posts/${totalPages}/` : undefined,
  },
};
---

<Layout title={SITE.title}>
  <Header />
  <Main pageTitle="Home" pageDesc="All the articles I've posted.">
    <ul>
      {page.data.map(data => <Card {...data} />)}
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
